<div class="card-wrapper">

  <mat-card class="example-card">
    <mat-card-header>
      <img src="https://avatars.githubusercontent.com/u/115271443?s=200&v=4" mat-card-avatar />
      <mat-card-title>Data parser by <span color="primary">BadGirlsTeam</span>
      </mat-card-title>
      <mat-card-subtitle>
        Parsing data for <a href="https://github.com/BadGirlsTeam/biznes-elektroniczny-project">Biznes
          Elektroniczny</a> project
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <!-- <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">

        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">

        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">

        </mat-grid-tile>
      </mat-grid-list> -->
    </mat-card-content>

    <mat-card-actions align="end">
      <!-- <button mat-raised-button color="accent">LIKE</button> -->
      <div class="spacer"></div>
      <button mat-raised-button color="primary" (click)="generateCSV()">Generate CSV</button>
      <div class="spacer"></div>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate" *ngIf="creatingInProgress"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

</div>
