<div class="card-wrapper">

  <mat-card class="example-card">
    <mat-card-header>
      <img src="https://avatars.githubusercontent.com/u/115271443?s=200&v=4" alt="Avatar Github" mat-card-avatar />
      <mat-card-title>Data parser by <span color="primary">BadGirlsTeam</span>
      </mat-card-title>
      <mat-card-subtitle>
        Parsing data for <a href="https://github.com/BadGirlsTeam/biznes-elektroniczny-project">Biznes
          Elektroniczny</a> project
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <mat-form-field style="width:100%" appearance="standard">
        <mat-label>Category</mat-label>
        <mat-select [(value)]="selectedCategory" [disabled]="creatingInProgress || creatingLastProductInProgress">
          <mat-option *ngFor="let category of categories" [value]="category.value">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width:100%" appearance="standard"
        *ngIf="selectedCategory && selectedCategory === categories[0].value">
        <mat-label>Subcategory</mat-label>
        <mat-select [(value)]="selectedSubcategory" [disabled]="creatingInProgress || creatingLastProductInProgress">
          <mat-option *ngFor="let subcategory of indoorSubcategories" [value]="subcategory.value">
            {{subcategory.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width:100%" appearance="standard"
        *ngIf="selectedCategory && selectedCategory === categories[1].value">
        <mat-label>Subcategory</mat-label>
        <mat-select [(value)]="selectedSubcategory" [disabled]="creatingInProgress || creatingLastProductInProgress">
          <mat-option *ngFor="let subcategory of outdoorSubcategories" [value]="subcategory.value">
            {{subcategory.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width:100%" appearance="standard">
        <mat-label>Count of products</mat-label>
        <input matInput type="number" min="1" max="10000" [(ngModel)]="countOfProductsToGenerate"
          [disabled]="creatingInProgress || creatingLastProductInProgress">
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
      <div class="spacer"></div>
      <button mat-raised-button color="primary"
        [disabled]="creatingInProgress || creatingLastProductInProgress || countOfProductsToGenerate <= 0"
        (click)="generateCSV()">
        Generate CSV
      </button>
      <button mat-raised-button color="primary" [disabled]="!csvArray" (click)="downloadCSV()">
        Download Generated CSV
        {{ productsData && productsData.length > 0 && finishedProductsCount && finishedProductsCount > 0  ? ' (' + finishedProductsCount + ')' : '' }}
      </button>
      <div class="spacer"></div>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar [value]="creatingProgresValue" *ngIf="creatingInProgress && creatingProgresValue > 0">
      </mat-progress-bar>
      <mat-progress-bar mode="indeterminate" *ngIf="creatingInProgress && creatingProgresValue <= 0">
      </mat-progress-bar>
    </mat-card-footer>
  </mat-card>

</div>
