<div class="card-wrapper">

  <mat-card class="example-card">
    <mat-card-header>
      <img src="https://avatars.githubusercontent.com/u/115271443?s=200&v=4" alt="Avatar Github" mat-card-avatar />
      <mat-card-title>Parser danych został wykonany przez <span style="color: #018786">BadGirlsTeam</span>
      </mat-card-title>
      <mat-card-subtitle>
        Parsowanie danych dla projektu <a href="https://github.com/BadGirlsTeam/biznes-elektroniczny-project">Biznes
          Elektroniczny</a>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>



      <!-- Categories -->
      <mat-form-field style="width:100%" appearance="standard">
        <mat-label>Kategorie</mat-label>
        <mat-select [(ngModel)]="selectedCategories" [disabled]="creatingInProgress || creatingLastProductInProgress"
          (ngModelChange)="categoriesChangeListener()" multiple>
          <mat-option *ngFor="let category of categories" [value]="category.value">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>




      <!-- Subcategories -->
      <mat-form-field style="width:100%" appearance="standard">
        <mat-label>Podkategorie</mat-label>
        <mat-select [(ngModel)]="selectedSubcategories"
          [disabled]="creatingInProgress || creatingLastProductInProgress || !selectedCategories || selectedCategories.length === 0"
          multiple>
          <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory.value">
            {{subcategory.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>




      <mat-form-field style="width:100%" appearance="standard">
        <mat-label>Liczba produktów</mat-label>
        <input matInput type="number" [min]="minimumProductCount()" max="10000" [(ngModel)]="countOfProductsToGenerate"
          [disabled]="creatingInProgress || creatingLastProductInProgress || !selectedCategories ||
          selectedCategories.length === 0 || !selectedSubcategories || selectedSubcategories.length === 0">
        <mat-error>
          Minimalna ilość produktów:
          {{minimumProductCount()}}
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
      <div class="spacer"></div>
      <button mat-raised-button color="primary" [disabled]="creatingInProgress || creatingLastProductInProgress ||
          !selectedCategories || selectedCategories.length===0 || !selectedSubcategories || selectedSubcategories.length === 0 ||
           countOfProductsToGenerate < minimumProductCount()" (click)="generateCSV()">
        Wygeneruj plik CSV
      </button>
      <button mat-raised-button color="primary" [disabled]="!csvArray" (click)="downloadCSV()">
        Pobierz wygenerowane produktu
        {{ productsData && productsData.length > 0 ? ' (' + filterProductsByImageExisting() + ')' : '' }}
      </button>
      <button mat-raised-button color="primary" [disabled]="!csvCombinationArray" (click)="downloadCombinationCSV()">
        Pobierz wygenerowane kombinacje
        {{ productsCombinationData && productsCombinationData.length > 0 ? ' (' + productsCombinationData.length + ')' : '' }}
      </button>
      <div class="spacer"></div>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar [value]="creatingProgresValue" *ngIf="creatingInProgress && creatingProgresValue > 0">
      </mat-progress-bar>
      <mat-progress-bar mode="indeterminate" *ngIf="creatingInProgress && creatingProgresValue <= 0">
      </mat-progress-bar>
    </mat-card-footer>
  </mat-card>

</div>
